<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
  </tr>
  </thead>

  <tbody>
  <% roasteries.each do |roastery| %>
      <tr>
        <td><%= link_to roastery.name, roastery %></td>
        <td><%= roastery.year %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>
